h1{
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-align: left;
	color: Black;
}
p{
	color:blue;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: left;
	font-size: 15pt;
}
body{
	font-size: 25;
}

