h1 {

	font-family: "Comic Sans MS", cursive, sans-serif;
	text-align: center;
	color: yellow;

}

body{

	background-color: black;
	font-size: 30px;
}
p{
	color:blue;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: left;
	font-size: 15pt;
}